@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Rubik+Bubbles&display=swap');

* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #151518;
    overflow-x: hidden;
}

h1 {
    color: #D5AE58;
    font-family: 'Glass Antiqua';
    font-weight: bold;
    font-size: 40px;
}

header {
    background-color: #e8e8e8;
    display: flex;
    align-items: center;
    padding: 0 40px;
    justify-content: space-between;
    width: 100svw;
    position: fixed;

    & .navbar-logo img {

        height: 50px;
        margin: 0.2em 0;
    }

    & .navbar-list {

        & .navbar-logo img {
            display: none;
        }

        & ul {
            display: flex;

            & li {

                .nav-link {
                    display: block;
                    margin: 0 0.4em;
                    padding: 0.4em 0 0.5em 0;
                    width: 80px;
                    text-align: center;
                    font-weight: 600;
                    font-size: 14px;
                    border-radius: 10px;
                    color: #151518;

                    &:hover {
                        background-color: #D5AE58;
                    }
                }

                & .active {
                    text-decoration: underline;
                }

                .logo-link {
                    width: 32px;
                    padding: 0.4em 0 0.2em 0;

                    & img {
                        height: 20px;
                    }
                }
            }
        }
    }

    & .hamburger {
        display: none;

        &:hover {
            background-color: #D5AE58;
        }
    }
}

section {
    justify-content: center;
    align-items: center;

    .text {
        font-size: 17px;
        text-align: center;
        padding: 0 10em;
    }

    .container-mainImage {
        display: flex;
        width: 100svw;
        justify-content: center;
        align-items: center;
        text-align: center;

        .mainImage {
            padding: 3em 0;
            width: 90%;
        }
    }


    .container {
        box-shadow: 0 0 30px black;
        border-radius: 20px;
        padding: 2em 0;
        text-align: center;

        .ourTeam {
            font-size: 50px;
        }

        .row {
            display: flex;
            gap: 3em;

            .col {
                padding: 3em;
                flex: 1;
                font-size: 16px;

                .imageColumn {
                    width: 20em;
                    border-radius: 10px;
                }
            }
        }

        & button {
            width: 8em;
            height: 3em;
            font-size: 20px;
            border-radius: 10px;
            background-color: black;
            border: 3px solid #D5AE58;
            transition: 0.6s;


            &:hover {
                background-color: #D5AE58;
                color: black;
                font-weight: bold;
                border-radius: 50px;
                cursor: pointer;

            }
        }
    }
}

footer {
    display: flex;
    font-size: 20px;
    margin-top: 3em;
    padding: 2em;
    background-color: black;
    justify-content: space-between;

    .footerChild1 {

        .iconText {
            display: flex;
            margin: 1em 1em;

            & img {
                width: 16px;
                margin-right: 0.5em;
            }
        }
    }


    .footerChild2 {
        .logo {
            width: 300px;
        }
    }
}

::-webkit-scrollbar {
    width: 0.6em;
    outline: 2px solid #80808064;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: #D5AE58;
    border-radius: 10px;
}

@media (width < 860px) {

    header {
        padding: 0 1em 0 0;
    }

    header .navbar-logo img {
        height: 40px;
    }

    header .navbar-list {
        position: fixed;
        position: absolute;
        left: -800px;
        top: 0;
        z-index: 1000;
        width: 70vw;
        height: 100vh;
        background-color: #e8e8e8;
    }

    header .navbar-list ul {
        flex-direction: column;
        padding: 20px 20px;
    }

    header .navbar-list .navbar-logo img {
        display: flex !important;
        height: 60px;
        margin: 2em 1em 0 1em;
    }

    header .navbar-list ul .nav-link {
        margin: 5px !important;
    }

    header .navbar-list ul .logo-link {
        display: none !important;
    }

    header .hamburger {
        display: flex !important;
        cursor: pointer;
        height: fit-content;
        width: 30px;
        padding: 4px;
        align-items: center;
        text-align: center;
        border-radius: 10px;
        flex-direction: column;
    }

    header .hamburger div {
        background-color: #151518;
        width: 20px;
        height: 2px;
        margin: 2px 2px;
    }

    #nav-check:checked~.navbar-list {
        left: 0 !important;
    }

    section {

        .mainImage {
            padding: 3em 0;
            height: 500px;
            min-width: 200%;
        }

        .text {
            padding: 0 2em;
        }

        .container {
            box-shadow: 0 0 30px black;
            border-radius: 20px;
            padding: 0 1em;


            .row {
                flex-direction: column;
                gap: 0em;

                #ourTeam {
                    padding-top: 1em;
                    font-size: 50px;
                }

                .col {
                    padding: 3em;
                    flex: 1;
                    font-size: 16px;

                    .imageColumn {
                        width: 20em;
                        border-radius: 10px;
                    }
                }
            }

            & button {
                margin-bottom: 1em;
                font-size: 16px;
            }
        }
    }

    footer {
        font-size: 14px;
        margin-top: 3em;
        padding: 2em;
        background-color: black;

        .iconsFooter {
            width: 16px;
            display: inline;
            margin: 0.8em 0.5em;
        }

        .footerChild2 {
            .logo {
                width: 100px;
            }
        }
    }
}